<?xml version="1.0" ?> 
<rss version="2.0">
  <channel>
    <title>SharpContent Features</title>
    <link>http://www.SharpContentPortal.com</link>
    <description>SharpContent Web Application Framework Features</description>
    <language>en-us</language>
    <item>
      <title>SharpContent Marketplace</title>
      <link>http://marketplace.SharpContent.com</link>
      <description>SharpContent Marketplace</description>
    </item>
    <item>
      <title>SharpContent Projects</title>
      <link>http://projects.SharpContent.com</link>
      <description>SharpContent Projects</description>
    </item>
  </channel>
</rss>

