<SharpContent>
	<description>This is the default SharpContent Host Installation Template</description>
	<scripts>
    <script name="SetUp">SharpContent.SetUp</script>
    <script name="Tables">SharpContent.Tables</script>
		<script name="Views">SharpContent.Views</script>
    <script name="StoredProcs">SharpContent.StoredProcs</script>
    <script name="Functions">SharpContent.Functions</script>
		<script name="Data">SharpContent.Data</script>
	</scripts>
  <MemberRoleProvider>
    <script name="InstallCommon">CreateProvider.InstallCommon.sql</script>
    <script name="InstallMembership">CreateProvider.InstallMembership.sql</script>
    <script name="InstallProfile">CreateProvider.InstallProfile.sql</script>
    <script name="InstallRoles">CreateProvider.InstallRoles.sql</script>
  </MemberRoleProvider>
	<version>01.01.01</version>
	<superuser>
		<firstname>SuperUser</firstname>
		<lastname>Account</lastname>
		<username>host</username>
		<password>ScpHost1</password>
    <question>1</question>
    <answer>Smith</answer>
		<email>host</email>
		<locale>en-US</locale>
		<timezone>0</timezone>
	</superuser>
	<settings>
		<AutoAccountUnlockDuration>10</AutoAccountUnlockDuration>
		<ControlPanel>Admin/ControlPanel/IconBar.ascx</ControlPanel>
		<Copyright>Y</Copyright>
		<DemoPeriod></DemoPeriod>
		<DemoSignup>N</DemoSignup>
		<DisableUsersOnline>N</DisableUsersOnline>
		<EnableFileAutoSync>Y</EnableFileAutoSync>
		<EnableModuleOnLineHelp>N</EnableModuleOnLineHelp>
		<EncryptionKey Secure="True"></EncryptionKey>
		<FileExtensions>swf,jpg,jpeg,jpe,gif,bmp,png,doc,xls,ppt,pdf,txt,xml,xsl,css,zip,htm</FileExtensions>
		<HelpURL>http://www.sharpcontentportal.com</HelpURL>
		<HostCurrency>USD</HostCurrency>
		<HostEmail></HostEmail>
		<HostFee></HostFee>
		<HostPortalId>0</HostPortalId>
		<HostSpace></HostSpace>
		<HostTitle>Sharp Content Portal</HostTitle>
		<HostURL>http://www.sharpcontentportal.com/</HostURL>
		<HttpCompression>1</HttpCompression>
		<HttpCompressionLevel>0</HttpCompressionLevel>
		<ModuleCaching>D</ModuleCaching>
		<PageQuota></PageQuota>
		<PageStatePersister>P</PageStatePersister>
    <PasswordExpiry>45</PasswordExpiry>
		<PaymentProcessor>PayPal</PaymentProcessor>
		<PerformanceSetting>3</PerformanceSetting>
		<ProcessorPassword Secure="True"></ProcessorPassword>
		<ProcessorUserId Secure="True"></ProcessorUserId>
		<ProxyPassword Secure="True"></ProxyPassword>
		<ProxyPort></ProxyPort>
		<ProxyServer></ProxyServer>
		<ProxyUsername Secure="True"></ProxyUsername>
		<SiteLogBuffer>1</SiteLogBuffer>
		<SiteLogHistory>0</SiteLogHistory>
		<SiteLogStorage>D</SiteLogStorage>
		<SkinUpload>G</SkinUpload>
		<SMTPServer></SMTPServer>
		<SMTPAuthentication>0</SMTPAuthentication>
		<SMTPUsername Secure="True"></SMTPUsername>
		<SMTPPassword Secure="True"></SMTPPassword>
		<UseCustomErrorMessages>Y</UseCustomErrorMessages>
		<UseFriendlyUrls>Y</UseFriendlyUrls>
		<UserQuota></UserQuota>
		<UsersOnlineTime>20</UsersOnlineTime>
		<SchedulerMode>2</SchedulerMode>
		<WhitespaceFilter>Y</WhitespaceFilter>
	</settings>
	<desktopmodules/>
  <portals>
    <portal>
      <portalname>Content Portal</portalname>
      <administrator>
        <firstname>Administrator</firstname>
        <lastname>Account</lastname>
        <username>admin</username>
        <password>ScpAdmin1</password>
        <question>1</question>
        <answer>Smith</answer>
        <email></email>
        <homedirectory></homedirectory>
      </administrator>
      <description>Content Portal</description>
      <keywords>SCP, Content, Management, CMS</keywords>
      <templatefile>scp.template</templatefile>
      <portalaliases>
        <portalalias></portalalias>
      </portalaliases>
      <ischild>false</ischild>
    </portal>
  </portals>
</SharpContent>
