SET NUMERIC_ROUNDABORT OFF
GO
SET XACT_ABORT, ANSI_PADDING, ANSI_WARNINGS, CONCAT_NULL_YIELDS_NULL, ARITHABORT, QUOTED_IDENTIFIER, ANSI_NULLS, NOCOUNT ON
GO
-- Pointer used for text / image updates. This might not be needed, but is declared here just in case
DECLARE @pv binary(16)

BEGIN TRANSACTION

-- Drop constraints from {databaseOwner}[{objectQualifier}Tabs]
ALTER TABLE {databaseOwner}[{objectQualifier}Tabs] DROP CONSTRAINT [FK_{objectQualifier}Tabs_{objectQualifier}Portals]
ALTER TABLE {databaseOwner}[{objectQualifier}Tabs] DROP CONSTRAINT [FK_{objectQualifier}Tabs_{objectQualifier}Tabs]

-- Drop constraints from {databaseOwner}[{objectQualifier}TabPermission]
ALTER TABLE {databaseOwner}[{objectQualifier}TabPermission] DROP CONSTRAINT [FK_{objectQualifier}TabPermission_{objectQualifier}Permission]
ALTER TABLE {databaseOwner}[{objectQualifier}TabPermission] DROP CONSTRAINT [FK_{objectQualifier}TabPermission_{objectQualifier}Tabs]

-- Drop constraints from {databaseOwner}[{objectQualifier}TabModules]
ALTER TABLE {databaseOwner}[{objectQualifier}TabModules] DROP CONSTRAINT [FK_{objectQualifier}TabModules_{objectQualifier}Modules]
ALTER TABLE {databaseOwner}[{objectQualifier}TabModules] DROP CONSTRAINT [FK_{objectQualifier}TabModules_{objectQualifier}Tabs]

-- Drop constraints from {databaseOwner}[{objectQualifier}Modules]
ALTER TABLE {databaseOwner}[{objectQualifier}Modules] DROP CONSTRAINT [FK_{objectQualifier}Modules_{objectQualifier}ModuleDefinitions]
ALTER TABLE {databaseOwner}[{objectQualifier}Modules] DROP CONSTRAINT [FK_{objectQualifier}Modules_{objectQualifier}Portals]

-- Drop constraints from {databaseOwner}[{objectQualifier}ModuleDefinitions]
ALTER TABLE {databaseOwner}[{objectQualifier}ModuleDefinitions] DROP CONSTRAINT [FK_{objectQualifier}ModuleDefinitions_{objectQualifier}DesktopModules]

-- Drop constraints from {databaseOwner}[{objectQualifier}ModuleControls]
ALTER TABLE {databaseOwner}[{objectQualifier}ModuleControls] DROP CONSTRAINT [FK_{objectQualifier}ModuleControls_{objectQualifier}ModuleDefinitions]

-- Drop constraints from {databaseOwner}[{objectQualifier}EventLogConfig]
ALTER TABLE {databaseOwner}[{objectQualifier}EventLogConfig] DROP CONSTRAINT [FK_{objectQualifier}EventLogConfig_{objectQualifier}EventLogTypes]

-- Drop constraint FK_{objectQualifier}EventLog_{objectQualifier}EventLogConfig from {databaseOwner}[{objectQualifier}EventLog]
ALTER TABLE {databaseOwner}[{objectQualifier}EventLog] DROP CONSTRAINT [FK_{objectQualifier}EventLog_{objectQualifier}EventLogConfig]

-- Drop constraint FK_{objectQualifier}ScheduleHistory_{objectQualifier}Schedule from {databaseOwner}[{objectQualifier}ScheduleHistory]
ALTER TABLE {databaseOwner}[{objectQualifier}ScheduleHistory] DROP CONSTRAINT [FK_{objectQualifier}ScheduleHistory_{objectQualifier}Schedule]

-- Drop constraint FK_{objectQualifier}ScheduleItemSettings_{objectQualifier}Schedule from {databaseOwner}[{objectQualifier}ScheduleItemSettings]
ALTER TABLE {databaseOwner}[{objectQualifier}ScheduleItemSettings] DROP CONSTRAINT [FK_{objectQualifier}ScheduleItemSettings_{objectQualifier}Schedule]

-- Drop constraint FK_{objectQualifier}FolderPermission_{objectQualifier}Permission from {databaseOwner}[{objectQualifier}FolderPermission]
ALTER TABLE {databaseOwner}[{objectQualifier}FolderPermission] DROP CONSTRAINT [FK_{objectQualifier}FolderPermission_{objectQualifier}Permission]

-- Drop constraint FK_{objectQualifier}ModulePermission_{objectQualifier}Permission from {databaseOwner}[{objectQualifier}ModulePermission]
ALTER TABLE {databaseOwner}[{objectQualifier}ModulePermission] DROP CONSTRAINT [FK_{objectQualifier}ModulePermission_{objectQualifier}Permission]

-- Drop constraint FK_{objectQualifier}EventLog_{objectQualifier}EventLogTypes from {databaseOwner}[{objectQualifier}EventLog]
ALTER TABLE {databaseOwner}[{objectQualifier}EventLog] DROP CONSTRAINT [FK_{objectQualifier}EventLog_{objectQualifier}EventLogTypes]

-- Drop constraints from {databaseOwner}[{objectQualifier}ProfilePropertyDefinition]
ALTER TABLE {databaseOwner}[{objectQualifier}ProfilePropertyDefinition] DROP CONSTRAINT [FK_{objectQualifier}ProfilePropertyDefinition_{objectQualifier}Portals]

-- Drop constraints from {databaseOwner}[{objectQualifier}ModuleSettings]
ALTER TABLE {databaseOwner}[{objectQualifier}ModuleSettings] DROP CONSTRAINT [FK_{objectQualifier}ModuleSettings_{objectQualifier}Modules]

-- Add rows to {databaseOwner}[{objectQualifier}Questions]
INSERT INTO {databaseOwner}[{objectQualifier}Questions] ([QuestionId], [Question], [Locale]) VALUES (1, N'Who was your favorite teacher?', N'en-US');
INSERT INTO {databaseOwner}[{objectQualifier}Questions] ([QuestionId], [Question], [Locale]) VALUES (2, N'Where were you born?', N'en-US');
INSERT INTO {databaseOwner}[{objectQualifier}Questions] ([QuestionId], [Question], [Locale]) VALUES (3, N'What''s your mother''s maiden name?', N'en-US');

-- Add rows to {databaseOwner}[{objectQualifier}EventLogTypes]
INSERT INTO {databaseOwner}[{objectQualifier}EventLogTypes] ([LogTypeKey], [LogTypeFriendlyName], [LogTypeDescription], [LogTypeOwner], [LogTypeCSSClass]) VALUES (N'ADMIN_ALERT', N'Admin Alert', N'', N'CSharpNuke.Logging.EventLogType', N'AdminAlert')
INSERT INTO {databaseOwner}[{objectQualifier}EventLogTypes] ([LogTypeKey], [LogTypeFriendlyName], [LogTypeDescription], [LogTypeOwner], [LogTypeCSSClass]) VALUES (N'APPLICATION_END', N'Application Ended', N'', N'CSharpNuke.Logging.EventLogType', N'GeneralAdminOperation')
INSERT INTO {databaseOwner}[{objectQualifier}EventLogTypes] ([LogTypeKey], [LogTypeFriendlyName], [LogTypeDescription], [LogTypeOwner], [LogTypeCSSClass]) VALUES (N'APPLICATION_SHUTTING_DOWN', N'Application Shutting Down', N'', N'CSharpNuke.Logging.EventLogType', N'GeneralAdminOperation')
-- Operation applied to 46 rows out of 46

-- Add rows to {databaseOwner}[{objectQualifier}Permission]
SET IDENTITY_INSERT {databaseOwner}[{objectQualifier}Permission] ON
INSERT INTO {databaseOwner}[{objectQualifier}Permission] ([PermissionID], [PermissionCode], [ModuleDefID], [PermissionKey], [PermissionName]) VALUES (1, N'SYSTEM_MODULE_DEFINITION', -1, N'VIEW', N'View')
INSERT INTO {databaseOwner}[{objectQualifier}Permission] ([PermissionID], [PermissionCode], [ModuleDefID], [PermissionKey], [PermissionName]) VALUES (2, N'SYSTEM_MODULE_DEFINITION', -1, N'EDIT', N'Edit')
INSERT INTO {databaseOwner}[{objectQualifier}Permission] ([PermissionID], [PermissionCode], [ModuleDefID], [PermissionKey], [PermissionName]) VALUES (3, N'SYSTEM_TAB', -1, N'VIEW', N'View Tab')
SET IDENTITY_INSERT {databaseOwner}[{objectQualifier}Permission] OFF
-- Operation applied to 6 rows out of 6

-- Add rows to {databaseOwner}[{objectQualifier}Schedule]
SET IDENTITY_INSERT {databaseOwner}[{objectQualifier}Schedule] ON
INSERT INTO {databaseOwner}[{objectQualifier}Schedule] ([ScheduleID], [TypeFullName], [TimeLapse], [TimeLapseMeasurement], [RetryTimeLapse], [RetryTimeLapseMeasurement], [RetainHistoryNum], [AttachToEvent], [CatchUpEnabled], [Enabled], [ObjectDependencies], [Servers]) VALUES (1, N'CSharpNuke.Entities.Users.PurgeUsersOnline, CSharpNuke', 1, N'm', 5, N'm', 60, N'', 0, 0, N'UsersOnline', NULL)
INSERT INTO {databaseOwner}[{objectQualifier}Schedule] ([ScheduleID], [TypeFullName], [TimeLapse], [TimeLapseMeasurement], [RetryTimeLapse], [RetryTimeLapseMeasurement], [RetainHistoryNum], [AttachToEvent], [CatchUpEnabled], [Enabled], [ObjectDependencies], [Servers]) VALUES (2, N'CSharpNuke.Services.Log.SiteLog.PurgeSiteLog, CSharpNuke', 1, N'd', 2, N'h', 10, N'', 0, 0, N'SiteLog', NULL)
INSERT INTO {databaseOwner}[{objectQualifier}Schedule] ([ScheduleID], [TypeFullName], [TimeLapse], [TimeLapseMeasurement], [RetryTimeLapse], [RetryTimeLapseMeasurement], [RetainHistoryNum], [AttachToEvent], [CatchUpEnabled], [Enabled], [ObjectDependencies], [Servers]) VALUES (3, N'CSharpNuke.Services.Scheduling.PurgeScheduleHistory, CSharpNuke', 1, N'd', 2, N'd', 60, N'', 0, 1, N'ScheduleHistory', NULL)
SET IDENTITY_INSERT {databaseOwner}[{objectQualifier}Schedule] OFF
-- Operation applied to 9 rows out of 9

-- Add rows to {databaseOwner}[{objectQualifier}SearchCommonWords]
SET IDENTITY_INSERT {databaseOwner}[{objectQualifier}SearchCommonWords] ON
INSERT INTO {databaseOwner}[{objectQualifier}SearchCommonWords] ([CommonWordID], [CommonWord], [Locale]) VALUES (1, N'a', N'en-US')
INSERT INTO {databaseOwner}[{objectQualifier}SearchCommonWords] ([CommonWordID], [CommonWord], [Locale]) VALUES (2, N'about', N'en-US')
INSERT INTO {databaseOwner}[{objectQualifier}SearchCommonWords] ([CommonWordID], [CommonWord], [Locale]) VALUES (3, N'above', N'en-US')
SET IDENTITY_INSERT {databaseOwner}[{objectQualifier}SearchCommonWords] OFF
-- Operation applied to 369 rows out of 369

-- Add row to {databaseOwner}[{objectQualifier}SearchIndexer]
SET IDENTITY_INSERT {databaseOwner}[{objectQualifier}SearchIndexer] ON
INSERT INTO {databaseOwner}[{objectQualifier}SearchIndexer] ([SearchIndexerID], [SearchIndexerAssemblyQualifiedName]) VALUES (1, N'CSharpNuke.Services.Search.ModuleIndexer, CSharpNuke.search                                                                                                                                             ')
SET IDENTITY_INSERT {databaseOwner}[{objectQualifier}SearchIndexer] OFF

-- Add rows to {databaseOwner}[{objectQualifier}EventLogConfig]
SET IDENTITY_INSERT {databaseOwner}[{objectQualifier}EventLogConfig] ON
INSERT INTO {databaseOwner}[{objectQualifier}EventLogConfig] ([ID], [LogTypeKey], [LogTypePortalID], [LoggingIsActive], [KeepMostRecent], [EmailNotificationIsActive], [NotificationThreshold], [NotificationThresholdTime], [NotificationThresholdTimeType], [MailFromAddress], [MailToAddress]) VALUES (1, N'APPLICATION_START', NULL, 1, 10, 0, 1, 1, 1, N'', N'')
INSERT INTO {databaseOwner}[{objectQualifier}EventLogConfig] ([ID], [LogTypeKey], [LogTypePortalID], [LoggingIsActive], [KeepMostRecent], [EmailNotificationIsActive], [NotificationThreshold], [NotificationThresholdTime], [NotificationThresholdTimeType], [MailFromAddress], [MailToAddress]) VALUES (2, N'APPLICATION_END', NULL, 1, 10, 0, 1, 1, 1, N'', N'')
INSERT INTO {databaseOwner}[{objectQualifier}EventLogConfig] ([ID], [LogTypeKey], [LogTypePortalID], [LoggingIsActive], [KeepMostRecent], [EmailNotificationIsActive], [NotificationThreshold], [NotificationThresholdTime], [NotificationThresholdTimeType], [MailFromAddress], [MailToAddress]) VALUES (3, N'SCHEDULER_EXCEPTION', NULL, 1, 100, 0, 1, 1, 1, N'', N'')
SET IDENTITY_INSERT {databaseOwner}[{objectQualifier}EventLogConfig] OFF
-- Operation applied to 11 rows out of 11

-- Add rows to {databaseOwner}[{objectQualifier}DesktopModules]
SET IDENTITY_INSERT {databaseOwner}[{objectQualifier}DesktopModules] ON
INSERT INTO {databaseOwner}[{objectQualifier}DesktopModules] ([DesktopModuleID], [FriendlyName], [Description], [Version], [IsPremium], [IsAdmin], [BusinessControllerClass], [FolderName], [ModuleName], [SupportedFeatures], [CompatibleVersions]) VALUES (10, N'Security Roles', N'Administrators can manage the security roles defined for their portal. The module allows you to add new security roles, modify existing security roles, delete security roles, and manage the users assigned to security roles.', NULL, 0, 1, NULL, N'Security Roles', N'Security Roles', 0, NULL)
INSERT INTO {databaseOwner}[{objectQualifier}DesktopModules] ([DesktopModuleID], [FriendlyName], [Description], [Version], [IsPremium], [IsAdmin], [BusinessControllerClass], [FolderName], [ModuleName], [SupportedFeatures], [CompatibleVersions]) VALUES (11, N'Tabs', N'Administrators can manage the Tabs within the portal. This module allows you to create a new tab, modify an existing tab, delete tabs, change the tab order, and change the hierarchical tab level.', NULL, 0, 1, NULL, N'Tabs', N'Tabs', 0, NULL)
INSERT INTO {databaseOwner}[{objectQualifier}DesktopModules] ([DesktopModuleID], [FriendlyName], [Description], [Version], [IsPremium], [IsAdmin], [BusinessControllerClass], [FolderName], [ModuleName], [SupportedFeatures], [CompatibleVersions]) VALUES (12, N'Site Settings', N'The Site Settings module represents the local options for your portal. Local settings allow you to customize your portal to meet your business requirements.', NULL, 0, 1, NULL, N'Site Settings', N'Site Settings', 0, NULL)
SET IDENTITY_INSERT {databaseOwner}[{objectQualifier}DesktopModules] OFF
-- Operation applied to 28 rows out of 32

-- Add rows to {databaseOwner}[{objectQualifier}Lists]
SET IDENTITY_INSERT {databaseOwner}[{objectQualifier}Lists] ON
INSERT INTO {databaseOwner}[{objectQualifier}Lists] ([ListName], [Value], [Text], [ParentID], [EntryID], [Level], [SortOrder], [DefinitionID], [Description]) VALUES (N'Country', N'AD', N'Andorra', 0, 1, 0, 0, -1, NULL)
INSERT INTO {databaseOwner}[{objectQualifier}Lists] ([ListName], [Value], [Text], [ParentID], [EntryID], [Level], [SortOrder], [DefinitionID], [Description]) VALUES (N'Country', N'AE', N'United Arab Emirates', 0, 2, 0, 0, -1, NULL)
INSERT INTO {databaseOwner}[{objectQualifier}Lists] ([ListName], [Value], [Text], [ParentID], [EntryID], [Level], [SortOrder], [DefinitionID], [Description]) VALUES (N'Country', N'AF', N'Afghanistan', 0, 3, 0, 0, -1, NULL)
SET IDENTITY_INSERT {databaseOwner}[{objectQualifier}Lists] OFF
-- Operation applied to 358 rows out of 358

-- Add rows to {databaseOwner}[{objectQualifier}ModuleControls]
SET IDENTITY_INSERT {databaseOwner}[{objectQualifier}ModuleControls] ON
INSERT INTO {databaseOwner}[{objectQualifier}ModuleControls] ([ModuleControlID], [ModuleDefID], [ControlKey], [ControlTitle], [ControlSrc], [IconFile], [ControlType], [ViewOrder], [HelpUrl]) VALUES (19, 12, NULL, NULL, N'Admin/Security/Roles.ascx', NULL, 0, NULL, NULL)
INSERT INTO {databaseOwner}[{objectQualifier}ModuleControls] ([ModuleControlID], [ModuleDefID], [ControlKey], [ControlTitle], [ControlSrc], [IconFile], [ControlType], [ViewOrder], [HelpUrl]) VALUES (20, 12, N'Edit', N'Edit Security Roles', N'Admin/Security/EditRoles.ascx', N'icon_securityroles_32px.gif', 1, NULL, NULL)
INSERT INTO {databaseOwner}[{objectQualifier}ModuleControls] ([ModuleControlID], [ModuleDefID], [ControlKey], [ControlTitle], [ControlSrc], [IconFile], [ControlType], [ViewOrder], [HelpUrl]) VALUES (21, 13, NULL, NULL, N'Admin/Tabs/Tabs.ascx', NULL, 0, NULL, NULL)
SET IDENTITY_INSERT {databaseOwner}[{objectQualifier}ModuleControls] OFF
-- Operation applied to 107 rows out of 118

-- Add rows to {databaseOwner}[{objectQualifier}ModuleDefinitions]
SET IDENTITY_INSERT {databaseOwner}[{objectQualifier}ModuleDefinitions] ON
INSERT INTO {databaseOwner}[{objectQualifier}ModuleDefinitions] ([ModuleDefID], [FriendlyName], [DesktopModuleID], [DefaultCacheTime]) VALUES (12, N'Security Roles', 10, 0)
INSERT INTO {databaseOwner}[{objectQualifier}ModuleDefinitions] ([ModuleDefID], [FriendlyName], [DesktopModuleID], [DefaultCacheTime]) VALUES (13, N'Tabs', 11, 0)
INSERT INTO {databaseOwner}[{objectQualifier}ModuleDefinitions] ([ModuleDefID], [FriendlyName], [DesktopModuleID], [DefaultCacheTime]) VALUES (14, N'Site Settings', 12, 0)
SET IDENTITY_INSERT {databaseOwner}[{objectQualifier}ModuleDefinitions] OFF
-- Operation applied to 28 rows out of 32

-- Add rows to {databaseOwner}[{objectQualifier}Modules]
SET IDENTITY_INSERT {databaseOwner}[{objectQualifier}Modules] ON
INSERT INTO {databaseOwner}[{objectQualifier}Modules] ([ModuleID], [ModuleDefID], [ModuleTitle], [AllTabs], [IsDeleted], [InheritViewPermissions], [Header], [Footer], [StartDate], [EndDate], [PortalID]) VALUES (321, 63, N'Portals', 0, 0, 1, NULL, NULL, NULL, NULL, NULL)
INSERT INTO {databaseOwner}[{objectQualifier}Modules] ([ModuleID], [ModuleDefID], [ModuleTitle], [AllTabs], [IsDeleted], [InheritViewPermissions], [Header], [Footer], [StartDate], [EndDate], [PortalID]) VALUES (322, 64, N'Module Definitions', 0, 0, 1, NULL, NULL, NULL, NULL, NULL)
INSERT INTO {databaseOwner}[{objectQualifier}Modules] ([ModuleID], [ModuleDefID], [ModuleTitle], [AllTabs], [IsDeleted], [InheritViewPermissions], [Header], [Footer], [StartDate], [EndDate], [PortalID]) VALUES (323, 21, N'File Manager', 0, 0, 1, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT {databaseOwner}[{objectQualifier}Modules] OFF
-- Operation applied to 13 rows out of 36

-- Add rows to {databaseOwner}[{objectQualifier}TabModules]
SET IDENTITY_INSERT {databaseOwner}[{objectQualifier}TabModules] ON
INSERT INTO {databaseOwner}[{objectQualifier}TabModules] ([TabModuleID], [TabID], [ModuleID], [PaneName], [ModuleOrder], [CacheTime], [Alignment], [Color], [Border], [IconFile], [Visibility], [ContainerSrc], [DisplayTitle], [DisplayPrint], [DisplaySyndicate]) VALUES (12, 17, 321, N'ContentPane', 3, 0, NULL, N'', N'', N'icon_portals_40px.gif', 0, NULL, 1, 1, 1)
INSERT INTO {databaseOwner}[{objectQualifier}TabModules] ([TabModuleID], [TabID], [ModuleID], [PaneName], [ModuleOrder], [CacheTime], [Alignment], [Color], [Border], [IconFile], [Visibility], [ContainerSrc], [DisplayTitle], [DisplayPrint], [DisplaySyndicate]) VALUES (13, 18, 322, N'ContentPane', 5, 0, NULL, N'', N'', N'icon_moduledefinitions_32px.gif', 0, NULL, 1, 1, 1)
INSERT INTO {databaseOwner}[{objectQualifier}TabModules] ([TabModuleID], [TabID], [ModuleID], [PaneName], [ModuleOrder], [CacheTime], [Alignment], [Color], [Border], [IconFile], [Visibility], [ContainerSrc], [DisplayTitle], [DisplayPrint], [DisplaySyndicate]) VALUES (14, 19, 323, N'ContentPane', 7, 0, NULL, N'', N'', N'icon_filemanager_32px.gif', 0, NULL, 1, 1, 1)
SET IDENTITY_INSERT {databaseOwner}[{objectQualifier}TabModules] OFF
-- Operation applied to 13 rows out of 36

-- Add rows to {databaseOwner}[{objectQualifier}TabPermission]
SET IDENTITY_INSERT {databaseOwner}[{objectQualifier}TabPermission] ON
INSERT INTO {databaseOwner}[{objectQualifier}TabPermission] ([TabPermissionID], [TabID], [PermissionID], [RoleID], [AllowAccess]) VALUES (4, 7, 3, -2, 1)
INSERT INTO {databaseOwner}[{objectQualifier}TabPermission] ([TabPermissionID], [TabID], [PermissionID], [RoleID], [AllowAccess]) VALUES (5, 16, 3, -2, 1)
INSERT INTO {databaseOwner}[{objectQualifier}TabPermission] ([TabPermissionID], [TabID], [PermissionID], [RoleID], [AllowAccess]) VALUES (6, 17, 3, -2, 1)
SET IDENTITY_INSERT {databaseOwner}[{objectQualifier}TabPermission] OFF
-- Operation applied to 13 rows out of 34

-- Add rows to {databaseOwner}[{objectQualifier}Tabs]
SET IDENTITY_INSERT {databaseOwner}[{objectQualifier}Tabs] ON
INSERT INTO {databaseOwner}[{objectQualifier}Tabs] ([TabID], [TabOrder], [PortalID], [TabName], [IsVisible], [ParentId], [Level], [IconFile], [DisableLink], [Title], [Description], [KeyWords], [IsDeleted], [Url], [SkinSrc], [ContainerSrc], [TabPath], [StartDate], [EndDate], [RefreshInterval], [PageHeadText]) VALUES (7, 1, NULL, N'Host', 1, NULL, 0, N'', 1, N'', N'', N'', 0, N'', NULL, NULL, N'//Host', NULL, NULL, NULL, NULL)
INSERT INTO {databaseOwner}[{objectQualifier}Tabs] ([TabID], [TabOrder], [PortalID], [TabName], [IsVisible], [ParentId], [Level], [IconFile], [DisableLink], [Title], [Description], [KeyWords], [IsDeleted], [Url], [SkinSrc], [ContainerSrc], [TabPath], [StartDate], [EndDate], [RefreshInterval], [PageHeadText]) VALUES (16, 1, NULL, N'Host Settings', 1, 7, 1, N'icon_hostsettings_16px.gif', 0, N'', N'', N'', 0, N'', NULL, NULL, N'//Host//Host Settings', NULL, NULL, NULL, NULL)
INSERT INTO {databaseOwner}[{objectQualifier}Tabs] ([TabID], [TabOrder], [PortalID], [TabName], [IsVisible], [ParentId], [Level], [IconFile], [DisableLink], [Title], [Description], [KeyWords], [IsDeleted], [Url], [SkinSrc], [ContainerSrc], [TabPath], [StartDate], [EndDate], [RefreshInterval], [PageHeadText]) VALUES (17, 3, NULL, N'Portals', 1, 7, 1, N'icon_portals_16px.gif', 0, N'', N'', N'', 0, N'', NULL, NULL, N'//Host//Portals', NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT {databaseOwner}[{objectQualifier}Tabs] OFF
-- Operation applied to 13 rows out of 30

-- Add rows to {databaseOwner}[{objectQualifier}ModuleSettings]
INSERT INTO {databaseOwner}[{objectQualifier}ModuleSettings] ([ModuleID], [SettingName], [SettingValue]) VALUES (343, N'Column_Address', N'True')
INSERT INTO {databaseOwner}[{objectQualifier}ModuleSettings] ([ModuleID], [SettingName], [SettingValue]) VALUES (343, N'Column_Authorized', N'True')
INSERT INTO {databaseOwner}[{objectQualifier}ModuleSettings] ([ModuleID], [SettingName], [SettingValue]) VALUES (343, N'Column_CreatedDate', N'True')
-- Operation applied to 23 rows out of 46

-- Add rows to {databaseOwner}[{objectQualifier}ProfilePropertyDefinition]
SET IDENTITY_INSERT {databaseOwner}[{objectQualifier}ProfilePropertyDefinition] ON
INSERT INTO {databaseOwner}[{objectQualifier}ProfilePropertyDefinition] ([PropertyDefinitionID], [PortalID], [ModuleDefID], [Deleted], [DataType], [DefaultValue], [PropertyCategory], [PropertyName], [Length], [Required], [ValidationExpression], [ViewOrder], [Visible], [Searchable]) VALUES (1, NULL, -1, 0, 349, N'', N'Name', N'Prefix', 50, 0, N'', 1, 1, 1)
INSERT INTO {databaseOwner}[{objectQualifier}ProfilePropertyDefinition] ([PropertyDefinitionID], [PortalID], [ModuleDefID], [Deleted], [DataType], [DefaultValue], [PropertyCategory], [PropertyName], [Length], [Required], [ValidationExpression], [ViewOrder], [Visible], [Searchable]) VALUES (2, NULL, -1, 0, 349, N'', N'Name', N'FirstName', 50, 0, N'', 3, 1, 1)
INSERT INTO {databaseOwner}[{objectQualifier}ProfilePropertyDefinition] ([PropertyDefinitionID], [PortalID], [ModuleDefID], [Deleted], [DataType], [DefaultValue], [PropertyCategory], [PropertyName], [Length], [Required], [ValidationExpression], [ViewOrder], [Visible], [Searchable]) VALUES (3, NULL, -1, 0, 349, N'', N'Name', N'MiddleName', 50, 0, N'', 5, 1, 1)
SET IDENTITY_INSERT {databaseOwner}[{objectQualifier}ProfilePropertyDefinition] OFF
-- Operation applied to 19 rows out of 38

-- Add constraints to {databaseOwner}[{objectQualifier}Tabs]
ALTER TABLE {databaseOwner}[{objectQualifier}Tabs] WITH NOCHECK ADD CONSTRAINT [FK_{objectQualifier}Tabs_{objectQualifier}Portals] FOREIGN KEY ([PortalID]) REFERENCES {databaseOwner}[{objectQualifier}Portals] ([PortalID]) ON DELETE CASCADE NOT FOR REPLICATION
ALTER TABLE {databaseOwner}[{objectQualifier}Tabs] WITH NOCHECK ADD CONSTRAINT [FK_{objectQualifier}Tabs_{objectQualifier}Tabs] FOREIGN KEY ([ParentId]) REFERENCES {databaseOwner}[{objectQualifier}Tabs] ([TabID]) NOT FOR REPLICATION

-- Add constraints to {databaseOwner}[{objectQualifier}TabPermission]
ALTER TABLE {databaseOwner}[{objectQualifier}TabPermission] WITH NOCHECK ADD CONSTRAINT [FK_{objectQualifier}TabPermission_{objectQualifier}Permission] FOREIGN KEY ([PermissionID]) REFERENCES {databaseOwner}[{objectQualifier}Permission] ([PermissionID]) ON DELETE CASCADE
ALTER TABLE {databaseOwner}[{objectQualifier}TabPermission] WITH NOCHECK ADD CONSTRAINT [FK_{objectQualifier}TabPermission_{objectQualifier}Tabs] FOREIGN KEY ([TabID]) REFERENCES {databaseOwner}[{objectQualifier}Tabs] ([TabID]) ON DELETE CASCADE

-- Add constraints to {databaseOwner}[{objectQualifier}TabModules]
ALTER TABLE {databaseOwner}[{objectQualifier}TabModules] WITH NOCHECK ADD CONSTRAINT [FK_{objectQualifier}TabModules_{objectQualifier}Modules] FOREIGN KEY ([ModuleID]) REFERENCES {databaseOwner}[{objectQualifier}Modules] ([ModuleID]) ON DELETE CASCADE NOT FOR REPLICATION
ALTER TABLE {databaseOwner}[{objectQualifier}TabModules] WITH NOCHECK ADD CONSTRAINT [FK_{objectQualifier}TabModules_{objectQualifier}Tabs] FOREIGN KEY ([TabID]) REFERENCES {databaseOwner}[{objectQualifier}Tabs] ([TabID]) ON DELETE CASCADE NOT FOR REPLICATION

-- Add constraints to {databaseOwner}[{objectQualifier}Modules]
ALTER TABLE {databaseOwner}[{objectQualifier}Modules] WITH NOCHECK ADD CONSTRAINT [FK_{objectQualifier}Modules_{objectQualifier}ModuleDefinitions] FOREIGN KEY ([ModuleDefID]) REFERENCES {databaseOwner}[{objectQualifier}ModuleDefinitions] ([ModuleDefID]) ON DELETE CASCADE NOT FOR REPLICATION
ALTER TABLE {databaseOwner}[{objectQualifier}Modules] WITH NOCHECK ADD CONSTRAINT [FK_{objectQualifier}Modules_{objectQualifier}Portals] FOREIGN KEY ([PortalID]) REFERENCES {databaseOwner}[{objectQualifier}Portals] ([PortalID]) NOT FOR REPLICATION

-- Add constraints to {databaseOwner}[{objectQualifier}ModuleDefinitions]
ALTER TABLE {databaseOwner}[{objectQualifier}ModuleDefinitions] WITH NOCHECK ADD CONSTRAINT [FK_{objectQualifier}ModuleDefinitions_{objectQualifier}DesktopModules] FOREIGN KEY ([DesktopModuleID]) REFERENCES {databaseOwner}[{objectQualifier}DesktopModules] ([DesktopModuleID]) ON DELETE CASCADE NOT FOR REPLICATION

-- Add constraints to {databaseOwner}[{objectQualifier}ModuleControls]
ALTER TABLE {databaseOwner}[{objectQualifier}ModuleControls] WITH NOCHECK ADD CONSTRAINT [FK_{objectQualifier}ModuleControls_{objectQualifier}ModuleDefinitions] FOREIGN KEY ([ModuleDefID]) REFERENCES {databaseOwner}[{objectQualifier}ModuleDefinitions] ([ModuleDefID]) ON DELETE CASCADE NOT FOR REPLICATION

-- Add constraints to {databaseOwner}[{objectQualifier}EventLogConfig]
ALTER TABLE {databaseOwner}[{objectQualifier}EventLogConfig] ADD CONSTRAINT [FK_{objectQualifier}EventLogConfig_{objectQualifier}EventLogTypes] FOREIGN KEY ([LogTypeKey]) REFERENCES {databaseOwner}[{objectQualifier}EventLogTypes] ([LogTypeKey])

-- Add constraint FK_{objectQualifier}EventLog_{objectQualifier}EventLogConfig to {databaseOwner}[{objectQualifier}EventLog]
ALTER TABLE {databaseOwner}[{objectQualifier}EventLog] WITH NOCHECK ADD CONSTRAINT [FK_{objectQualifier}EventLog_{objectQualifier}EventLogConfig] FOREIGN KEY ([LogConfigID]) REFERENCES {databaseOwner}[{objectQualifier}EventLogConfig] ([ID])

-- Add constraint FK_{objectQualifier}ScheduleHistory_{objectQualifier}Schedule to {databaseOwner}[{objectQualifier}ScheduleHistory]
ALTER TABLE {databaseOwner}[{objectQualifier}ScheduleHistory] WITH NOCHECK ADD CONSTRAINT [FK_{objectQualifier}ScheduleHistory_{objectQualifier}Schedule] FOREIGN KEY ([ScheduleID]) REFERENCES {databaseOwner}[{objectQualifier}Schedule] ([ScheduleID]) ON DELETE CASCADE NOT FOR REPLICATION

-- Add constraint FK_{objectQualifier}ScheduleItemSettings_{objectQualifier}Schedule to {databaseOwner}[{objectQualifier}ScheduleItemSettings]
ALTER TABLE {databaseOwner}[{objectQualifier}ScheduleItemSettings] WITH NOCHECK ADD CONSTRAINT [FK_{objectQualifier}ScheduleItemSettings_{objectQualifier}Schedule] FOREIGN KEY ([ScheduleID]) REFERENCES {databaseOwner}[{objectQualifier}Schedule] ([ScheduleID]) ON DELETE CASCADE NOT FOR REPLICATION

-- Add constraint FK_{objectQualifier}FolderPermission_{objectQualifier}Permission to {databaseOwner}[{objectQualifier}FolderPermission]
ALTER TABLE {databaseOwner}[{objectQualifier}FolderPermission] WITH NOCHECK ADD CONSTRAINT [FK_{objectQualifier}FolderPermission_{objectQualifier}Permission] FOREIGN KEY ([PermissionID]) REFERENCES {databaseOwner}[{objectQualifier}Permission] ([PermissionID]) ON DELETE CASCADE

-- Add constraint FK_{objectQualifier}ModulePermission_{objectQualifier}Permission to {databaseOwner}[{objectQualifier}ModulePermission]
ALTER TABLE {databaseOwner}[{objectQualifier}ModulePermission] WITH NOCHECK ADD CONSTRAINT [FK_{objectQualifier}ModulePermission_{objectQualifier}Permission] FOREIGN KEY ([PermissionID]) REFERENCES {databaseOwner}[{objectQualifier}Permission] ([PermissionID]) ON DELETE CASCADE

-- Add constraint FK_{objectQualifier}EventLog_{objectQualifier}EventLogTypes to {databaseOwner}[{objectQualifier}EventLog]
ALTER TABLE {databaseOwner}[{objectQualifier}EventLog] WITH NOCHECK ADD CONSTRAINT [FK_{objectQualifier}EventLog_{objectQualifier}EventLogTypes] FOREIGN KEY ([LogTypeKey]) REFERENCES {databaseOwner}[{objectQualifier}EventLogTypes] ([LogTypeKey])

-- Add constraints to {databaseOwner}[{objectQualifier}ProfilePropertyDefinition]
ALTER TABLE {databaseOwner}[{objectQualifier}ProfilePropertyDefinition] ADD CONSTRAINT [FK_{objectQualifier}ProfilePropertyDefinition_{objectQualifier}Portals] FOREIGN KEY ([PortalID]) REFERENCES {databaseOwner}[{objectQualifier}Portals] ([PortalID]) ON DELETE CASCADE

-- Add constraints to {databaseOwner}[{objectQualifier}ModuleSettings]
ALTER TABLE {databaseOwner}[{objectQualifier}ModuleSettings] WITH NOCHECK ADD CONSTRAINT [FK_{objectQualifier}ModuleSettings_{objectQualifier}Modules] FOREIGN KEY ([ModuleID]) REFERENCES {databaseOwner}[{objectQualifier}Modules] ([ModuleID]) ON DELETE CASCADE NOT FOR REPLICATION

COMMIT TRANSACTION
